/**
 * = Fonts
 *
 * Add your styles for Footer Section and keep it clean.
 *
 * ========================================================================= */

footer {
   background-color: $header-bg-color;
   height: $header-height;
   line-height: $header-height;
   color: $color-light;
 }
