<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Roofy Index</title>
    <!-- Cascading Style Sheets -->
    <link rel="stylesheet" href="assets/css/main.min.css">
  </head>
  <body>
    <!-- Header Starts -->
    <header>
      <div class="wrap xl-center">
        <div class="col xl-1-1">
          <span>Header</span>
        </div>
      </div>
    </header>
    <!-- Header Ends -->
